@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  box-shadow: 0 0 0 40px #F2F2F2;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.button {
  display: block;
  width: 130px;
  text-align: center;
  border-radius: 4px;
  padding: 9px 15px;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  border-style: none;
}

.button-small {
  font-size: 16px;
  line-height: 20px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.button-basic {
  background-color: #756157;
}

.button-second {
  background-color: #82B3D3;
}

.button-select {
  background: #7DB54F;
}

.button-search {
  width: 574px;
  margin-left: auto;
  margin-right: auto;
}

.button-newsletter {
  width: 200px;
  border-radius: 0 10px 10px 0;
}

.navigation {
  display: flex;
  min-height: 65px;
}

.navigation-logo {
  width: 139px;
  margin-right: 0 auto;
}

.page-header-logo {
  position: absolute;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 390px;
  max-width: 700px;
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
  padding-right: 28px;
  padding-left: 17px;
  padding-bottom: 19px;
  margin-left: 30px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  min-width: 264px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 70px;
  margin-top: auto;
  margin-bottom: auto;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
  padding: 0;
  margin-right: 34px;
}

.navigation-user-link {
  display: block;
  margin: 0;
}

.navigation-user-favorite {
  font-size: 10px;
  line-height: 13px;
}

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.hero-index {
  background: url("../images/background/background-hero.jpg") #6c879e;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.hero-welcome {
  display: block;
  margin-left: 371px;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero {
  padding-top: 63px;
  padding-bottom: 90px;
}

.hero-main {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 31px;
}

.hero-description {
  text-align: center;
  color: #333333;
  margin: 0;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  width: 230px;
  height: 200px;
}

.advantages-list:nth-of-type(odd) .advantages-item {
  padding: 92px 85px;
}

.advantages-list:nth-of-type(2) .advantages-item {
  padding: 80px 85px 81px;
}

.advantages-list:nth-of-type(4) .advantages-item {
  padding: 103px 85px 102px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.advantages-number {
  margin-bottom: 30px;
}

.advantages-photo {
  width: 400px;
  flex-grow: 2;
  background-color: #000000;
  color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.photo-1 {
  background-image: url("../images/advantages/advantages-photo-1.jpg");
}

.photo-2 {
  background-image: url("../images/advantages/advantages-photo-2.jpg");
}

.background-basic {
  background-color: #82B3D3;
}

.background-second-1 {
  background-color: #83B3D31F;
}

.background-second-2 {
  background-color: #83B3D333;
}

.search {
  padding-top: 91px;
  padding-bottom: 93px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.search-description {
  text-align: center;
  color: #333333;
  margin-top: 29px;
  margin-bottom: 56px;
}

.newsletter {
  color: #FFFFFF;
  background: url("../images/background/background-subscribe.jpg") #496D82;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-right: 40px;
  padding-left: 40px;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.newsletter-description {
  margin-top: 29px;
  margin-bottom: 46px;
}

.newsletter-form {
  display: flex;
  width: 800px;
  margin: 0 auto;
}

.newsletter-field {
  width: 600px;
  border-style: none;
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 22px;
  border-radius: 10px 0 0 10px;
}

.main-filter {
  color: #ffffff;
  background: url("../images/background/background-filter.jpg") #4b6075;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header {
  padding: 35px 70px 20px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  text-transform: capitalize;
  margin: 0;
}

.breadcrumbs {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

.breadcrumbs-item {
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter {
  padding: 20px 70px 70px;
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-infra {
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-type {
  width: 145px;
  margin-right: 175px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  padding: 0;
}

.catalog-filter-list {
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 0;
}

.catalog-filter-price {
  margin-right: 70px;
  width: 288px;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

.button-filter {
  width: 160px;
  cursor: pointer;
}

.button-reset {
  font-family: inherit;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 20px;
}

.catalog-found-container {
  display: flex;
  padding-top: 55px;
  padding-bottom: 28px;
  padding-left: 72px;
  padding-right: 71px;
}

.catalog-found {
  width: 400px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 7px;
  margin-bottom: 5px;
  margin-right: 129px;
}

.catalog-select-control {
  font-size: 18px;
  color: #333333;
  width: 290px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.product-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-column-gap: 18px;
  list-style-type: none;
  margin: 0;
  padding-top: 28px;
  padding-left: 73px;
  padding-right: 71px;
  padding-bottom: 66px;
}

.product-card {
  width: 300px;
  padding: 20px;
}

.product-card-link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.product-card-title {
  margin-top: 16px;
  margin-bottom: 16px;
}

.product-card-container {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  font-size: 18px;
  line-height: 21px;
}

.product-card-item {
  margin: 0;
}

.button-product {
  width: 110px;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;
  width: 95px;
  text-transform: uppercase;
  background: #F2F2F2;
  border-radius: 4px;
  padding-top: 9px;
  padding-right: 22px;
  padding-bottom: 8px;
  padding-left: 23px;
  margin: 0;
}

.pagination-container {
  display: flex;
  padding-top: 30px;
  padding-left: 73px;
  padding-bottom: 25px;
  padding-right: 71px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 262px;
}

.pagination-item {
  list-style-type: none;
  margin-right: 8px;
}

.button-pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.button-pagination {
  width: 60px;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 13px;
}

.pagination-form {
  display: flex;
  align-items: center;
}

.pagination-form-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-right: 51px;
}

.pagination-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 160px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding-left: 20px;
  height: 49px;
}

.newsletter-catalog {
  color: #000000;
  background-color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-right: 40px;
  padding-left: 40px;
}

.newsletter-field-catalog {
  width: 600px;
  border-radius: 10px 0 0 10px;
  border-style: none;
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 22px;
  background: #F2F2F2;
}

.page-footer {
  height: 120px;
}

.footer-contacts {
  display: flex;
  padding: 40px 70px 30px;
}

.footer-social {
  margin-right: 0 auto;
  min-width: 183px;
  max-width: 400px;
}

.footer-social-list {
  list-style-type: none;
}

.footer-phone {
  text-align: center;
  width: 720px;
}

.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-htmlacademy {
  margin-left: auto;
}
